section.plans__section
  h2.section-title Сделайте вклад и получите прибыль до 17%!
  p.secondary-text Выберите индивидуальный план вклада и узнайте размер прибыли!
  ul.plans__list
    - for(let i = 0; i < 2; i += 1)
      -
        let plan = {
          title: faker.commerce.product(),
          minInvest: _.random(100, 1000),
          maxInvest: _.random(3000, 10000),
          profit: _.sample([0.07, 0.02, 0.01, 0.09]),
          bodyReturn:  Math.random() >= 0.5,
          minDuration: _.random(10, 30),
          maxDuration: _.random(50, 120)
        };
      li.plans__item(
        data-plan="calculator"
        data-payload=plan
        v-cloak
      )
        .plan
          .plan__header
            h3 {{plan.title}}
          .plan__desc   
            .plan__row
              .plan__feature
                span Минимальный
              .plan__value ${{plan.minInvest}}
            .plan__row
              .plan__feature
                span Максимальный
              .plan__value ${{plan.maxInvest}}
            .plan__row
              .plan__feature
                span Прибыль
              .plan__value {{plan.profit}}%
            .plan__row
              .plan__feature
                span Возврат тела
              .plan__value(v-if="plan.bodyReturn") Да
              .plan__value(v-else) Нет
            .plan__slider
              .plan__row
                .plan__feature
                  span Срок работы
                .plan__value {{planTerm}} дней
                  //- input(type="text" :value="planTerm").plan__term-input
                  //- |  дней
              .plan__slider-input
                .plan__slider-value {{plan.minDuration}}
                input(
                  type="range"
                  :min="plan.minDuration"
                  :max="plan.maxDuration"
                  step="1"
                  v-model="planTerm"
                ).plan__slider-range.e-range
                .plan__slider-value {{plan.maxDuration}}
            .plan__deposit
              .plan__row
                .plan__feature
                  span Вклад в $
                .plan__value
                  input(
                    type="number"
                    :min="plan.minInvest"
                    :max="plan.maxInvest"
                    step="1"
                    v-model.number="deposit"
                  ).plan__deposit-input
                  p(v-if="isDepositCorrect").small-text Сумма вклада корректна
                  p(v-else).small-text *Введите корректную сумму
            .plan__profit
              h4 Суммарная прибыль составит:
              //- p {{profit}}
              .plan__profit-input(v-if="isDepositCorrect") ${{totalProfit}}
              .plan__profit-input(v-else) $0
              //- input(type="text" value=profit).plan__profit-input
            input(type="checkbox" v-model="isRulesAccepted").plan__consent
            label.plan__consent-label Согласен с 
              a(href="#") правилами
            button(type='submit' :disabled="someFieldsIncorrect" @click="makeDeposit").btn Инвестировать
            p(v-if="someFieldsIncorrect").small-text *Введите корректную сумму и согласитесь с правилами.
            p(v-else).small-text Нажмите кнопку, чтобы сделать вклад и получить ${{totalProfit}} прибыли!
